body {
    background-color: #ffffff;
    border-color: #dddddd;
    background-image: "C:\Users\Austin\Desktop\Basic-Portfolio\assets\images/funky-lines";

}
p {
    color: #777777;
    font-family: Arial;
}
h1 {
    background-color: #ffffff;
    border-color: #cccccc;
    font-family: "Times New Roman";
}